<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>News Reader :: Feeds</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">News Reader</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a th:href="@{/}" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-white-50">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/feeds}" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline text-white-50">Feeds</span></a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
        <div class="col py-3">
            <div class="feeds-container">
                <form class="form-inline" th:action="@{/feeds/new}" th:object="${newFeed}" method="POST">
                    <div class="form-group mb-2">
                        <label for="staticEmail2" class="sr-only">Name</label>
                        <input type="text" class="form-control" id="staticEmail2" th:field="*{name}" placeholder="my news site">
                    </div>
                    <div class="form-group mb-2">
                        <label for="inputPassword2" class="sr-only">Feed URL</label>
                        <input type="text" class="form-control" id="inputPassword2" th:field="*{url}" placeholder="https://foo.com/rss.xml">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Add News Feed</button>
                </form>
                <hr />
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>URL</th>
                        <th>Created At</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="feed : ${feeds}">
                        <td><a href="#" th:text="${feed.name}">Name</a></td>
                        <td><h5 th:text="${feed.url}">URL</h5></td>
                        <td><h5 th:text="${feed.createdAt}">Created At</h5></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
</body>
</html>