<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>News Reader :: Home</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">News Reader</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a th:href="@{/}" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-white-50">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/feeds}" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline text-white-50">Feeds</span></a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
        <div class="col py-3">
            <ol id="feed-content"></ol>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
<script th:inline="javascript">
    $(function() {
        var $list = $('#feed-content');
        var data = /*[[${feeds}]]*/ [];
        $list.empty();

        for(var i = 0; i < data.length; i++) {

            $.ajax(data[i].url, {
                accepts: {
                    xml: 'application/rss+xml'
                },
                dataType: 'xml'
            })
                .then(function(result) {
                    $(result)
                        .find('item')
                        .each(function () {
                            const el = $(this);
                            const template = `
                <li>
                  <div class="d-inline">
                    <span class="d-block"><b>${el.find("title").text()}</b></span>
                    <span class="d-block">${el.find("description").text().substring(0, 125)}</span>
                  </div>
                </li>
              `;
                            $list.append(template);
                        })

                }).catch(function(err) {
                console.error(err);
            });
        }
    });
</script>
</body>
</html>